@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #0064b7;
    --light-text-color: #0073d2;
    --lighter-text-color: #008cff;
}

a {
    text-decoration: none;
    color: black;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 10rem;
    padding-left: 1rem;
}
.close a{
    font-size: 2rem;
    padding-right: 1rem;
}
main{
    display: flex;
    height: 97vh;
}
.left{
    width: 60vw;
    margin-left: 5rem;
    margin-top: 2rem;
}
.right{
    width: 40vw;
    text-align: center;
    position: relative;
    margin-left: -8rem;
}
.images{
    display: flex;
    flex-direction: column;
    gap: 7rem;
}
.images img{
    width: 18rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.special-images{
    margin-top: -33rem;
    margin-left: 15rem;
}


.special-images .special-image{
    width: 35rem;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}









































.form-container {
    background-color: #fff;
    padding: 20px;
    line-height: 5rem;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.116);
    width: 26rem;
    margin-top: 17rem;
    margin-left: 50%;
    margin-bottom: -10rem;
    /* position: absolute;
    top: 28rem;
    left: 50%; */
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}
.form-container label {
    display: block;
    margin-bottom: 20px;
    color: #555;
    font-size: .8rem;
    text-align: left;
    margin-left: 1.8rem;
}
.phone-number{
    display: flex;
    justify-content: center;
}

.form-container select{
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-container input[type="tel"]{
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}



.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--lighter-text-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: .2s linear;
    -webkit-transition: .2s linear;
    -moz-transition: .2s linear;
    -ms-transition: .2s linear;
    -o-transition: .2s linear;
}
.form-container button:hover {
    background-color: var(--text-color);
}
